
simple-object-tracking/2.mp4
simple-object-tracking/outpy.avi
*.pyc
simple-object-tracking/VID_20191204_181058AB.MP4
simple-object-tracking/1_1.mp4
simple-object-tracking/1.mp4
simple-object-tracking/1_edit.mp4
simple-object-tracking/1_edit1.mp4
simple-object-tracking/2.mkv
simple-object-tracking/VID_20191204_181058AA.MP4
1_deep-learning-face-detection/known_people/*
robik_DM/known_people/*
robik_DM/samples/*
robik_DM/dataset_faces.dat
robik_DM/dataset_faces.datt
robik_DM/results
*.avi
dataset_faces.dat
